.ft-button {
	@include ft-button;
}

.ft-button--secondary {
	@include ft-button--secondary;
}

.ft-button--tertiary {
	@include ft-button--tertiary;
}

.ft-button--txt {
	@include ft-button--txt;
}

.ft-button--danger {
	@include ft-button--danger;
}

.ft-button--danger-inverse {
	@include ft-button--danger-inverse;
}

.ft-button--link {
	@include ft-button--link;
}

.ft-button--sm {
	@include ft-button--sm;
}

.ft-button--lg {
	@include ft-button--lg;
}

.ft-button--disabled,
.ft-button--txt[disabled],
.ft-button--link[disabled],
.ft-button--danger__inverse[disabled],
.ft-button--danger[disabled],
.ft-button--tertiary[disabled],
.ft-button--secondary[disabled] ,
.ft-button[disabled] {
	@include ft-button--disabled;
}


[class^="ft-button"] + [class^="ft-button"] {
	margin: 0 0 0 ft-spacer(1.5);
}

[class*="button--block"] + [class*="button--block"] {
  margin: ft-spacer(1.5) 0 0; }

// Buttons with icons

.ft-button-icon {
	@include ft-button-icon;
}

.ft-button-icon__icon {
	@include ft-button-icon__icon;
}

.ft-button--full-below-sm {
	@include ft-button--block;
	@include ft-respond-above($ft-breakpoint__small) {
		width: auto;
	}
}

.ft-button--full-below-lg {
	@include ft-button--block;
	@include ft-respond-above($ft-breakpoint__large) {
		width: auto;
	}
}
