/* SPACING */
/* SPACING */
/* SHADOWS */
/* ACCORDION */
/* COLORS */
/* SPACING */
/* SHADOWS */
/* ACCORDION */
/* COLORS */
.ft--dropdown__wrapper--inline {
  display: inline-grid;
  align-items: center;
  grid-template: auto auto / auto min-content;
  grid-gap: 0.25rem; }
  .ft--dropdown__wrapper--inline .ft--label,
  .ft--dropdown__wrapper--inline .ft--form__helper-text,
  .ft--dropdown__wrapper--inline .ft--form-requirement {
    margin: 0; }
  .ft--dropdown__wrapper--inline .ft--form-requirement {
    grid-column: 2; }

.ft--dropdown {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  outline: 2px solid transparent;
  outline-offset: -2px;
  position: relative;
  list-style: none;
  display: block;
  background-color: #fff;
  border: 1px solid #8c8c8c;
  width: 100%;
  height: 2.5rem;
  cursor: pointer;
  color: #272727;
  transition: background-color 70ms motion(standard, productive); }
  .ft--dropdown > *,
  .ft--dropdown > *:before,
  .ft--dropdown > *:after {
    box-sizing: inherit; }
  .ft--dropdown:focus {
    outline: 2px solid #2764C4;
    outline-offset: -2px; }

.ft--dropdown--invalid {
  outline: 2px solid #da1e28;
  outline-offset: -2px; }
  .ft--dropdown--invalid .ft--dropdown-text {
    padding-right: 3.5rem; }
  .ft--dropdown--invalid + .ft--form-requirement {
    display: inline-block;
    max-height: 12.5rem;
    color: #da1e28; }

.ft--dropdown__invalid-icon {
  position: absolute;
  top: 50%;
  right: 2.5rem;
  fill: #da1e28;
  transform: translateY(-50%); }

.ft--dropdown--open:focus, .ft--dropdown--open:active {
  outline: 2px solid #2764C4;
  outline-offset: -2px; }

.ft--dropdown--up .ft--dropdown-list {
  bottom: 2rem; }

.ft--dropdown__arrow {
  fill: #171717;
  position: absolute;
  right: 1rem;
  top: 0.8125rem;
  pointer-events: none;
  transform-origin: 50% 45%; }

.ft--dropdown-text {
  display: block;
  height: 2.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 2.625rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.ft--dropdown-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  position: absolute;
  z-index: 7000;
  max-height: 0;
  overflow: hidden; }
  .ft--dropdown-list > *,
  .ft--dropdown-list > *:before,
  .ft--dropdown-list > *:after {
    box-sizing: inherit; }

.ft--dropdown-item {
  transition: opacity 70ms motion(standard, productive), background-color 70ms motion(standard, productive);
  opacity: 0; }
  .ft--dropdown-item:hover {
    background-color: #e5e5e5; }
    .ft--dropdown-item:hover + .ft--dropdown-item .ft--dropdown-link {
      border-color: transparent; }
  .ft--dropdown-item:first-of-type .ft--dropdown-link {
    border-top-color: transparent; }

.ft--dropdown-item:last-of-type .ft--dropdown-link {
  border-bottom: none; }

.ft--dropdown-link {
  outline: 2px solid transparent;
  outline-offset: -2px;
  display: block;
  height: 2.5rem;
  color: #565656;
  text-decoration: none;
  font-weight: normal;
  line-height: 1rem;
  padding: 0.6875rem 0;
  margin: 0 1rem;
  border: 1px solid transparent;
  border-top-color: #dcdcdc;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }
  .ft--dropdown-link:focus {
    outline: 2px solid #fff;
    outline-offset: -2px;
    margin: 0;
    padding: 0.6875rem 1rem; }
  .ft--dropdown-link:hover {
    color: #272727;
    border-color: transparent; }

.ft--dropdown-item:hover .ft--dropdown-link {
  border-bottom-color: #e5e5e5; }

.ft--dropdown--selected {
  display: none; }

.ft--dropdown--open .ft--dropdown__arrow {
  transform: rotate(-180deg); }

.ft--dropdown--open .ft--dropdown-list {
  max-height: 15rem; }
  .ft--dropdown--open .ft--dropdown-list:hover {
    overflow: auto; }

.ft--dropdown--open .ft--dropdown-item {
  opacity: 1; }

.ft--dropdown--disabled {
  cursor: not-allowed; }
  .ft--dropdown--disabled:focus {
    outline: none; }
  .ft--dropdown--disabled .ft--dropdown-text {
    color: #bebebe; }
  .ft--dropdown--disabled .ft--dropdown__arrow {
    fill: #bebebe; }
  .ft--dropdown--disabled.ft--dropdown--light:hover {
    background-color: #3d3d3d; }

.ft--dropdown--auto-width {
  width: auto;
  max-width: 25rem; }

.ft--dropdown--inline {
  justify-self: start;
  display: inline-block;
  border-bottom-color: transparent;
  width: auto;
  height: 2rem;
  background-color: #3d3d3d;
  transition: background 70ms motion(entrance, productive); }
  .ft--dropdown--inline:hover {
    background-color: #e5e5e5; }
  .ft--dropdown--inline.ft--dropdown--disabled {
    background-color: #3d3d3d; }
  .ft--dropdown--inline .ft--dropdown__arrow {
    top: 0.5rem;
    right: 0.5rem; }

.ft--dropdown--inline.ft--dropdown--open {
  background-color: transparent; }

.ft--dropdown--inline .ft--dropdown-text {
  display: inline-block;
  padding: 0.4375rem 2rem 0.4375rem 0.75rem;
  height: 2rem;
  overflow: visible;
  color: #272727; }

.ft--dropdown--inline.ft--dropdown--disabled .ft--dropdown-text {
  color: #bebebe; }

.ft--dropdown--inline.ft--dropdown--disabled:focus .ft--dropdown-text {
  outline: 0; }

.ft--dropdown--inline.ft--dropdown--invalid .ft--dropdown__invalid-icon {
  right: 2rem; }

.ft--dropdown--inline.ft--dropdown--invalid .ft--dropdown-text {
  padding-right: 3.5rem; }

.ft--dropdown--inline .ft--dropdown-link {
  font-weight: normal;
  margin-right: 0.75rem;
  margin-left: 0.625rem; }
  .ft--dropdown--inline .ft--dropdown-link:focus {
    margin: 0;
    padding-left: 0.625rem; }
