body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.ft-button {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  margin: 0;
  padding: 4px 16px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  line-height: 24px;
  border-width: 1px;
  border-style: solid;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  user-select: none;
  text-decoration: none;
  letter-spacing: 0.2px;
  border-radius: 4px;
  overflow: visible;
  min-height: 30px;
  background-color: #2764C4;
  border-color: transparent;
  color: #ffffff;
  transition: background 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 380ms cubic-bezier(0.4, 0, 0.2, 1); }
  .ft-button:hover {
    color: #ffffff; }
  .ft-button:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }
  .ft-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.1em #fff, 0 0 0 0.2em #598dde; }

.ft-button--secondary {
  background-color: #c4d6f3;
  border-color: #91b3e9;
  color: #1a4384; }
  .ft-button--secondary:hover, .ft-button--secondary:active {
    background-color: #598dde;
    border-color: #2764C4;
    color: #ffffff; }

.ft-button--tertiary {
  background-color: #ffffff;
  border-color: #2764C4;
  color: #2764C4; }
  .ft-button--tertiary:hover, .ft-button--tertiary:active {
    background-color: #255eb8;
    color: #ffffff;
    border-color: #2867ca; }

.ft-button--txt {
  color: #676d73;
  background: none;
  border-color: #d3d4d5; }
  .ft-button--txt:hover, .ft-button--txt:active, .ft-button--txt:focus {
    background: #2764C4;
    border-color: transparent;
    color: #ffffff; }

.ft-button--danger {
  background-color: #ffffff;
  border-color: #ff5a5f;
  color: #ff5a5f; }
  .ft-button--danger:hover, .ft-button--danger:active {
    background-color: #ff5a5f;
    border-color: #ff5a5f;
    color: #ffffff; }

.ft-button--danger__full {
  background-color: #ff5a5f;
  border-color: #ff5a5f;
  color: #ffffff; }
  .ft-button--danger__full:hover, .ft-button--danger__full:active {
    background-color: #ffffff;
    border-color: #ff5a5f;
    color: #ff5a5f; }

.ft-button--link {
  color: #2764C4;
  background: none;
  border-color: transparent;
  box-shadow: none; }
  .ft-button--link:hover, .ft-button--link:active, .ft-button--link:focus {
    background: none;
    border-color: transparent;
    color: #2764C4; }

.ft-button--block {
  width: 100%;
  text-align: center; }

.ft-button--sm {
  font-size: 0.9rem;
  line-height: 16px;
  padding: 4px 12px;
  min-height: 20px; }

.ft-button--lg {
  font-size: 1.025rem;
  line-height: 32px;
  padding: 4px 16px;
  min-height: 30px; }

.ft-button--disabled, .ft-button--disabled.ft-button--secondary, .ft-button--disabled.ft-button--tertiary, .ft-button--disabled.ft-button--danger,
.ft-button--disabled.ft-button--link .ft-button--disabled:visited, .ft-button--disabled:hover, .ft-button--disabled:active, .ft-button--disabled:focus,
.ft-button[disabled],
.ft-button[disabled].ft-button--secondary,
.ft-button[disabled].ft-button--tertiary,
.ft-button[disabled].ft-button--danger,
.ft-button[disabled].ft-button--link .ft-button--disabled:visited,
.ft-button[disabled]:hover,
.ft-button[disabled]:active,
.ft-button[disabled]:focus,
.ft-button--disabled.ft-button--link
.ft-button[disabled]:visited,
.ft-button[disabled].ft-button--link
.ft-button[disabled]:visited {
  cursor: not-allowed;
  color: #d3d4d5;
  background-color: #ffffff;
  border-color: #dbdcdc;
  box-shadow: none; }
  .ft-button--disabled.ft-button--hide, .ft-button--disabled.ft-button--secondary.ft-button--hide, .ft-button--disabled.ft-button--tertiary.ft-button--hide, .ft-button--disabled.ft-button--danger.ft-button--hide,
  .ft-button--disabled.ft-button--link .ft-button--disabled:visited.ft-button--hide, .ft-button--disabled:hover.ft-button--hide, .ft-button--disabled:active.ft-button--hide, .ft-button--disabled:focus.ft-button--hide,
  .ft-button[disabled].ft-button--hide,
  .ft-button[disabled].ft-button--secondary.ft-button--hide,
  .ft-button[disabled].ft-button--tertiary.ft-button--hide,
  .ft-button[disabled].ft-button--danger.ft-button--hide,
  .ft-button[disabled].ft-button--link .ft-button--disabled:visited.ft-button--hide,
  .ft-button[disabled]:hover.ft-button--hide,
  .ft-button[disabled]:active.ft-button--hide,
  .ft-button[disabled]:focus.ft-button--hide,
  .ft-button--disabled.ft-button--link
  .ft-button[disabled]:visited.ft-button--hide,
  .ft-button[disabled].ft-button--link
  .ft-button[disabled]:visited.ft-button--hide {
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
    opacity: 0.35; }

.ft-button-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.ft-button-icon__icon {
  flex: none;
  margin: 0;
  margin-right: 6px;
  fill: currentColor; }

.ft-button--full-below-sm {
  width: 100%;
  text-align: center; }
  @media (min-width: 482px) {
    .ft-button--full-below-sm {
      width: auto; } }

.ft-button--full-below-lg {
  width: 100%;
  text-align: center; }
  @media (min-width: 1026px) {
    .ft-button--full-below-lg {
      width: auto; } }
