$ft-border__radius__base: 4px;
$ft-border__radius__big: 6px;
$ft-border__radius__full: 50%;
$ft-border__radius__sides: 9999px;
$ft-breakpoint__large: 1025px;
$ft-breakpoint__large__value: 1025;
$ft-breakpoint__medium: 700px;
$ft-breakpoint__medium__value: 700;
$ft-breakpoint__small: 481px;
$ft-breakpoint__small__value: 481;
$ft-breakpoint__split-view__medium: 1060px;
$ft-breakpoint__split-view__medium__value: 1060;
$ft-breakpoint__split-view__small: 769px;
$ft-breakpoint__split-view__small__value: 769;

//
// Colors
//
$ft-color-body: #354052;
$ft-color-body__bg: #fff;
$ft-color-card__bg: #FCFCFC;


$ft-color__black-300: #676d73;
$ft-color__black: #2f3033;
$ft-color__gray-200: #fafafa;
$ft-color__gray-300: #e9eced;
$ft-color__gray: #d3d4d5;
$ft-color__white: #ffffff;

$ft-color__blue: #2764C4;
$ft-color__blue-100: lighten($ft-color__blue, 40);
$ft-color__blue-200: lighten($ft-color__blue, 25);
$ft-color__blue-300: lighten($ft-color__blue, 15);
$ft-color__blue-500: darken($ft-color__blue, 15);
$ft-color__blue-600: darken($ft-color__blue, 25);
$ft-color__blue-700: darken($ft-color__blue, 35);

$ft-color__green-100: #e1fdf3;
$ft-color__green-200: #c6f7da;
$ft-color__green-300: #73e4a2;
$ft-color__green: #2db783;
$ft-color__green-500: #109e78;
$ft-color__green-600: #0f6648;

$ft-color__yellow-100: #fdf7e7;
$ft-color__yellow-200: #ffebb3;
$ft-color__yellow-300: #ffdd80;
$ft-color__yellow: #febe14;
$ft-color__yellow-500: #d48300;
$ft-color__yellow-600: #8a5500;

$ft-color__red-100: #ffeff0;
$ft-color__red-200: #ffd9d9;
$ft-color__red-300: #ffb0b0;
$ft-color__red: #ff5a5f;
$ft-color__red-500: #cc3553;
$ft-color__red-600: #76012c;


